<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Exam exam = new NewlecExam(); -->
	 <bean id="exam" class="spring.di.entity.NewlecExam" p:kor="10" p:eng="10"/>
	<!-- <bean id="exam" class="spring.di.entity.NewlecExam">
		<constructor-arg name="kor" type="float" value="10"></constructor-arg>
		<constructor-arg name="eng" type="float" value="20"></constructor-arg>
		<constructor-arg name="com" type="float" value="30"></constructor-arg>
		<constructor-arg name="math" type="float" value="40"></constructor-arg>
	</bean> -->
	<!-- ExamConsole console =new GridExamConsole(exam); -->
	<bean id="console" class="spring.di.ui.InlineExamConsole">
		<!-- console.setExam(exam); -->
		<property name="exam" ref="exam" />
	</bean>
	
</beans>
